@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Russo+One&display=swap");
@import "tailwindcss";
@theme {
  --font-mulish: "Mulish", sans-serif;
  --font-russo: "Russo One", sans-serif;
  --masfarre-black: #000;
  --masfarre-red: #c11720;
  --masfarre-orange: #e86031;
  --masfarre-fuchsia: #e83477;
  --masfarre-violet: #a6539b;
}

* {
  scroll-behavior: smooth;
}

.masf-red {
  color: var(--masfarre-red);
}
.masf-fuchsia {
  color: var(--masfarre-fuchsia);
}
.masf-violet {
  color: var(--masfarre-violet);
}

.bg-masfarre-geometry {
  background-image: url("../images/inspiration-geometry.png");
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}
.bg-masfarre-party {
  background-image: url("../images/food.png");
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}
